<!-- CSS -->
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
<link rel="stylesheet" href="/statics/css/bootstrap.min.css">
<link rel="stylesheet" href="/statics/font-awesome/css/font-awesome.min.css">
<!--<link rel="stylesheet" href="/css/form-elements.css">-->
<link rel="stylesheet" href="/statics/css/bootstrap.min.css">
<link rel="stylesheet" href="/statics/css/bootstrapValidator.min.css">
<link rel="stylesheet" href="/statics/css/sys/header.css">
<link rel="stylesheet" href="/statics/css/sys/leftMenu.css">
<link rel="stylesheet" href="/statics/css/base.css">
<link rel="stylesheet" href="/statics/css/iconfontUtil.css">
<link rel="stylesheet" href="/statics/plugs/iconfont/iconfont.css">
<link rel="stylesheet" href="/statics/plugs/layui/css/layui.css">
<!--dtree插件css样式-->
<link rel="stylesheet" href="/statics/plugs/layui-ext/dtree/dtree.css">
<link rel="stylesheet" href="/statics/plugs/layui-ext/dtree/font/dtreefont.css">
<!--后台管理统一布局文件-->
<link rel="stylesheet" href="/statics/css/sys/common.css">
<!--用户管理-->
<link rel="stylesheet" href="/statics/css/sys/userManager.css">
<!--角色管理-->
<link rel="stylesheet" href="/statics/css/sys/roleManager.css">
<!--权限管理-->
<link rel="stylesheet" href="/statics/css/sys/permManager.css">

<!-- Javascript -->
<script src="/statics/js/jquery-1.11.1.min.js"></script>
<script src="/statics/js/bootstrap.min.js"></script>
<script src="/statics/js/jquery.backstretch.min.js"></script>
<script src="/statics/js/retina-1.1.0.min.js"></script>
<script src="/statics/js/scripts.js"></script>
<script src="/statics/js/bootstrapValidator.min.js"></script>
<script src="/statics/js/jquery.form.min.js"></script>
<script src="/statics/plugs/layui/layui.js"></script>
<!-- <script src="/statics/plugs/layer/layer.js"></script>-->
<script src="/statics/plugs/iconfont/iconfont.js"></script>

<!--用户管理-->
<script src="/statics/js/sys/userManager.js"></script>
<!--角色管理JS文件-->
<script src="/statics/js/sys/roleManager.js"></script>
<!--权限管理JS文件-->
<script src="/statics/js/sys/permManager.js"></script>
<!--[if lt IE 10]>
<script src="/statics/js/placeholder.js"></script>
<![endif]-->
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->


<!--获取公网ip-->
<script type="text/javascript" src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
<script>
    layui.config({
        base: '/statics/plugs'
    }).extend({
        treetable: '/layerplugs/treetable',
        transfers: '/layerplugs/transfer',
        dtree: '/layui-ext/dtree/dtree'   // {/}的意思即代表采用自有路径，即不跟随 base 路径
    })



</script>