<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ws.mapper.PermissionMapper">
    <sql id="baseColumn">
        id,NAME,permission,resourceType,disabled,url,pid,isHasChildren
    </sql>
    <select id="findPermsByRoleId" resultType="com.ws.bean.Sys_Permission" parameterType="string">
        SELECT
            t1.id,
            t1.disabled,
            t1.NAME,
            t1.permission,
            t1.resourceType,
            t1.url,
            t1.pid,
            t1.isHasChildren,
            t1.icon
        FROM
            sys_permission t1
            INNER JOIN sys_role_per t2 ON t1.id = t2.perId
            AND t1.disabled = 0
            AND t2.roleId = #{roleId}
    </select>
</mapper>
