<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ws.mapper.RoomMapper">
    <sql id="baseColumn">
        id,roomName,roomNo,createTime,status,capacity,principal,principalId,remark
    </sql>
    <update id="updateLessThanNowRoom">
        update sys_room
        set status = 2
        where
        id
        in
        <foreach collection="roomIds" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
    <select id="roomListByPage" resultType="com.ws.bean.Sys_room">
        select
        <include refid="baseColumn"/>
        from sys_room
        <where>
            <if test="roomCondition!=null">
                CONCAT(roomName,roomNo,principal,remark) like '%${roomCondition}%'
            </if>
        </where>
    </select>

    <delete id="delUserAndUserRole" parameterType="string">
        delete from sys_user where id=#{userId};
        delete from sys_user_role where userId =#{userId};
    </delete>

    <select id="getAssUserData" resultType="com.ws.bean.Sys_User" parameterType="string">
        select id,username,nickname,disabled from sys_user where id not in (select userId from sys_user_role where roleId =#{roleId})
    </select>

    <select id="getAssedUserData" parameterType="string" resultType="com.ws.bean.Sys_User">
        select id,username,nickname,disabled from sys_user where id in (select userId from sys_user_role where roleId =#{roleId})
    </select>
    <select id="checkRoomStatus" resultType="java.lang.Integer">
        select
            status
        from sys_room
        <where>
            id=#{roomId}
        </where>
    </select>
</mapper>
