<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ws.mapper.UserMapper">
    <sql id="baseColumn">
       id,username,password,nickname,address,disabled,email,loginAt,loginCount,loginIp,tellphone
    </sql>
    <select id="userListByPage" resultType="com.ws.bean.Sys_User">
        select
        <include refid="baseColumn"/>
        from sys_user
        <where>
            <if test="condition!=null">
                CONCAT(username,nickname) like '%${condition}%'
            </if>
        </where>
    </select>

    <delete id="delUserAndUserRole" parameterType="string">
        delete from sys_user where id=#{userId};
        delete from sys_user_role where userId =#{userId};
    </delete>

    <select id="getAssUserData" resultType="com.ws.bean.Sys_User" parameterType="string">
        select id,username,nickname,disabled from sys_user where id not in (select userId from sys_user_role where roleId =#{roleId})
    </select>

    <select id="getAssedUserData" parameterType="string" resultType="com.ws.bean.Sys_User">
        select id,username,nickname,disabled from sys_user where id in (select userId from sys_user_role where roleId =#{roleId})
    </select>
    <select id="getUserPermissionMenus" resultType="com.ws.bean.Sys_Permission">
        SELECT
            DISTINCT
            t4.NAME,
            t4.permission,
            t4.url
        FROM
            sys_user_role t1
                INNER JOIN sys_role t2 ON t1.roleId = t2.id
                INNER JOIN sys_role_per t3 ON t2.id = t3.roleId
                INNER JOIN sys_permission t4 ON t3.perId = t4.id
                AND t1.userId = #{userId}
                AND t4.pid = '0'
                AND t4.disabled = 0
                AND t2.disabled=0
        ORDER BY
            t4.id DESC
    </select>
</mapper>
