<%layout("../leftMenu.html"){%>
<script src="/statics/js/scripts.js"></script>
<div class="col-lg-11">
    <div class="row">
        <div class="topBar col-lg-3">
            <%if(shiro.hasPermission("sys.role.add")){%>
                <a href="javascript:void(0)" onclick="addRole()" class="btn btn-primary addBtn">新增</a>
            <%}%>
        </div>
        <!--<div class="col-lg-5"></div>-->
        <div class="topBar col-lg-3">
            <input type="text" class="form-control" id="condition" name="condition" placeholder="请输入关键字搜索">
        </div>
        <div class="topBar col-lg-1">
            <a href="javascript:void(0)"  data-type="reload"  class="btn btn-primary" id="roleSeach" >搜索</a>
        </div>
    </div>
    <div class="row">
        <div class="listDataBox">
            <table class="layui-hide" id="roleDataTable" lay-filter="roleDataFilter"></table>
        </div>
    </div>
</div>
<script>

</script>
<script type="text/html" id="barDemo">
    <% if(shiro.hasPermission("sys.role.edit")){%>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <%}%>
    <%if(shiro.hasPermission("sys.role.user")){%>
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="assUser" >分配用户</a>
    <%}%>
    <%if(shiro.hasPermission("sys.role.perm")){%>
    <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="assPerm" >分配权限</a>
    <%}%>
    <%if(shiro.hasPermission("sys.role.del")){%>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" >删除</a>
    <%}%>
</script>
<script type="text/html" id="tableIndex">
    {{d.LAY_TABLE_INDEX+1}}
</script>
<%}%>