.sys_header{
    width: 100%;
    height: 50px;
    background-color: #cccccc;
    opacity: 0.5;

}
.username{
    line-height: 50px;
    font-size: 18px;
}
.tuichu{
    line-height: 50px;
    font-size: 18px;
    color: #FFFFFF;
}
