<%layout("../leftMenu.html"){%>
<script src="/statics/js/scripts.js"></script>
<div class="col-lg-11">
    <div class="row">
        <div class="topBar col-lg-3">
            <input type="text" class="form-control" id="condition" name="condition" placeholder="请输入关键字搜索">
        </div>
        <div class="topBar col-lg-1">
            <a href="javascript:void(0)"  data-type="reload"  class="btn btn-primary" id="pendingSeach" >搜索</a>
        </div>
    </div>
    <div class="row">
        <div class="listDataBox">
            <table class="layui-hide" id="pendingDataTable" lay-filter="pendingDataFilter"></table>
        </div>
    </div>
</div>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="approval">审批</a>
    <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="cancel">取消</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" >删除</a>
</script>
<script type="text/html" id="tableIndex">
    {{d.LAY_TABLE_INDEX+1}}
</script>
<%}%>